<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>

    <title>{% block title %}Document{% endblock %}</title>
</head>

<body class="bg-dark text-light">

{% block navbar %}
<div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand d-flex align-items-center fs-1" href="#">
                <img src="{{ url_for('static', filename='images/notes3.png') }}"
                    class="rounded me-2"
                    alt="Profile"
                    style="height: 89px;">
                Notionary.AI
            </a>

                <ul class="navbar-nav ms-auto fs-3 flex-row">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Team</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

{% endblock %}

{% block content %}


<h1>Welcome {{ name }} to Notionary.AI</h1>
<p>Helping One word at a time</p>
{% endblock %}

{% block footer %}



{% endblock %}

</body>
</html>
